.Hero {
  height: calc(100vh - var(--headerHeight));
  background-color: #ddd1c7;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 200px;
}

.Hero h2 {
  font-size: xx-large;
  z-index: 1;
}

.Hero .HeroBackground {
  position: absolute;
  top: 0;
  right: 20px;
}
