.Hero {
  height: calc(100vh - var(--headerHeight));
  background-color: #ddd1c7;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: min(200px, 20%);
  overflow: hidden;
  flex-wrap: wrap;
}

.Hero h2 {
  font-size: xx-large;
  z-index: 1;
  max-width: calc(50% - 200px);
}

.Hero .HeroBackground {
  position: absolute;
  overflow: hidden;
  background-image: radial-gradient(#ffffff 20%, transparent 20%),
    radial-gradient(#ffffff 20%, transparent 20%);
  background-size: 30px 30px;
  width: 100%;
  height: inherit;
}
