.Contact {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Contact h2 {
  color: white;
  margin: 0 3rem;
}

.Contact span {
  margin: 1.5rem 3rem;
  padding: 1rem 3rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.Contact a {
  color: inherit;
  font-family: "RNJSerif";
  font-size: xx-large;
  text-decoration: none;
}
