@font-face {
  font-family: "RNJFont";
  src: url("./fonts/Heavitas.ttf") format("truetype")
}

* {
  font-family: "RNJFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}