@font-face {
  font-family: "RNJFont";
  src: url("./fonts/Heavitas.ttf") format("truetype");
}

@font-face {
  font-family: "RNJLogoFont";
  src: url("./fonts/medium.otf") format("opentype");
}

* {
  font-family: "RNJLogoFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
}

:root {
  --orange: #c16200;
  --color-primary: #726193;
  --color-secondary: #e37b7c;
  --color-tertiary: #fdbc4b;
  --color-background: #32373b;
  --headerHeight: 100px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
