.Profiles {
    display: flex;
    background: black;
}

.Profile {
    display: flex;
}

.Profile:hover {
    color: black;
    background-color: black;
    opacity: 0.6;
}

.Image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    overflow: hidden;
}

