.Profiles {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: auto;
}

.Profile:nth-child(even){
  direction: rtl;
}

.Profile {
  display: flex;
  width: 100%;
}

.Image {
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.ContentContainer{
  padding: 3.5rem 3.5rem 2rem 3.5rem;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  width: 37.5rem;
  flex-shrink: 0;
}

.Name {
  position: relative;
  margin: 0 0 2.625rem 0;
  font-size: 3rem;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.875);
  font-weight: 700;
  letter-spacing: -0.05em;
}

h1.Name:after {
  bottom: -1.325rem;
}
h1.Name:after, h2.Name:after, h3.Name:after {
  content: '';
  position: absolute;
  left: 0;
  width: 3.5rem;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.25);
}

.Description {
  margin: 0 0 1.5rem 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: rgba(255, 255, 255, 0.875);
  font-weight: 400;
  vertical-align: baseline;
}
