.Profiles {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: auto;
}

.Profile {
  display: flex;
}

.Image {
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 4px;
  object-fit: cover;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
